<!--?xml version="1.0" encoding="UTF-8" ? -->
<taglib xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemalocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
	version="2.1">
	<display-name>Custom Functions</display-name>
	<tlib-version>1.0</tlib-version>
	<function>
		<description>Collection contais</description>
		<name>contains</name>
		<function-class>com.baplay.util.CommonUtil</function-class>
		<function-signature>boolean contains(java.util.Collection, java.lang.Object)</function-signature>
	</function>	
</taglib>